* {
  font-family: 'Syne', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
}

body {
  background-color: #222222;
  color: white;
  font-size: 1rem;

  --bg: #222222;
  --bg-light: #2e3236;
  --bg-dark: #1e1e1e;
  --text: white;
  --text-muted: #858585;
  --male-blue: #1352cc;
  --female-pink: #b503a3;
  --accent: #1d9bf0;
}

.material-symbols-outlined {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid var(--bg-light);
  border-top: none;
  border-bottom: none;
  min-height: 100vh;
}

nav {
  padding: 12px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid var(--bg-light);
}

.button {
  background-color: var(--accent);
  padding: 6px 24px;
  border-radius: 12px;
  border: none;
  transition: filter 250ms;
  cursor: pointer;
}
.button:hover,
.button:focus {
  filter: brightness(1.1);
}

.button:disabled {
  filter: opacity(0.5);
}

.logo {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.logo img {
  height: 0.95em;
}
.logo span {
  font-weight: bold;
}

.searchbar {
  position: relative;
}
.searchbar .search-icon {
  color: var(--text-muted);
  padding: 4px;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.searchbar input {
  background: var(--bg-light);
  width: 100%;
  border: none;
  padding: 8px 16px;
  padding-left: 44px;
  border-radius: 12px;
}
.searchbar .search-close {
  color: var(--text-muted);
  padding: 4px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

main {
  display: grid;
  grid-template-columns: 2fr 3fr;
  min-height: calc(100vh - 60.8px);
}

.left-section {
  border-right: 1px solid var(--bg-light);
  display: flex;
  flex-direction: column;
}

.loading {
  padding: 16px 24px;
  text-align: center;
}

.user-card {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--bg-light);
  cursor: pointer;
  transition: background-color 150ms ease-out;
}
.user-card:hover {
  background-color: rgba(29, 155, 240, 0.1);
}
.user-card.active {
  background-color: rgba(29, 155, 240, 0.2);
}
.user-card.active .user-card-arrow {
  color: var(--accent);
}

.user-card-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-avatar {
  background-color: var(--bg-light);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-card-text-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.user-card-name {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: bold;
}
.user-card-name img {
  height: 1em;
}

.user-card-email {
  font-size: 14px;
  color: var(--text-muted);
}

.user-card-arrow {
  color: var(--text-muted);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 16px 24px;
  margin-top: auto;
}

.right-section {
  background-color: var(--bg-dark);
}

.user-detail {
  padding: 24px 32px;
  border-bottom: 1px solid var(--bg-light);
  background-color: var(--bg);
}

.user-detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 24px;
}
.user-detail-grid div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.user-detail-grid div span:first-child {
  color: var(--text-muted);
  font-size: 14px;
}

.user-posts {
  padding: 24px 32px;
}

.user-posts h2 {
  font-size: 20px;
  font-weight: bold;
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}
.post {
  padding: 16px 24px;
  background-color: var(--bg);
  border: 1px solid var(--bg-light);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post > span {
  font-weight: bold;
}
.post p {
  font-size: 14px;
}
.post .tags-container {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 8px;
}
.post .tags-container span {
  border-radius: 12px;
  background-color: var(--accent);
  padding: 4px 8px;
}

.no-data-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  margin-top: 52px;
}

.no-data-container span {
  font-size: 20px;
  font-weight: bold;
}
.no-data-container p {
  color: var(--text-muted);
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 750px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: flex;
  }
  nav {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .searchbutton {
    padding: 8px;
    background-color: var(--bg-light);
    border-radius: 50%;
  }

  .searchbar-mobile {
    display: none;
    width: 100%;
  }
  .searchbar-mobile .searchbar {
    width: 100%;
  }
  .searchbar-mobile.active {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 24px;
  }

  main {
    display: block;
    position: relative;
  }

  .right-section {
    display: none;
  }
  .right-section.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0;
  }

  .user-detail-grid {
    grid-template-columns: 1fr;
  }
}
